.main-layout {
  flex: 1;
  height: calc(100vh - var(--navbar-height) - var(--footer-height));
  background-color: var(--background-main);
  display: flex;
  color: var(--text-color);
  transition: width var(--transition-speed) ease;
  padding: 2rem;
  border-radius: 25px 0 0 25px;
}

.main-content {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  max-height: 80vh;
}

.form-container,
.list-container {
  overflow-y: auto;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

/* Scrollbar personalizado */
.form-container::-webkit-scrollbar,
.list-container::-webkit-scrollbar {
  width: 8px;
}

.form-container::-webkit-scrollbar-track,
.list-container::-webkit-scrollbar-track {
  background: transparent;
}

.form-container::-webkit-scrollbar-thumb,
.list-container::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 3px;
}

.form-container::-webkit-scrollbar-thumb:hover,
.list-container::-webkit-scrollbar-thumb:hover {
  background: #505050;
}

@media (max-width: 1200px) {
  .main-grid {
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .main-layout {
    width: 100%;
    padding: 1rem;
    border-radius: 0;
  }

  .main-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
    max-height: none;
  }
}
