.main {
  width: calc(100% - var(--sidebar-width));
  height: calc(100vh - 120px);
  background-color: var(--background-common);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  transition: width var(--transition-speed) ease;
  padding: 1rem;
}

.main-content {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  height: 100%;
}
