.main {
  width: calc(100% - var(--sidebar-width));
  height: calc(100vh - 120px);
  background-color: var(--background-common);
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  transition: width var(--transition-speed) ease;
}
