.dashboard{

  width: 100%;
  height: calc(100vh - 180px); /* Ajustar según el tamaño del header y footer */
  margin: 0;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);  
/*   box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5); */  
  border-radius: 15px;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  overflow: hidden;

}
.card{

  flex: 1;
  min-width: 300px;
  height: 100%;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);  
/*   box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
 */  border-radius: 15px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card h2 {
  margin: 0 0 1rem 0;
  padding: 0;
}
