.footer {
  width: 100%;
  height: 60px;
  background-color: var(--background-common);
  border: 0px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  padding: 0rem;
}

.footer-content {
  border: 0px solid white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;
}

.footer-section {
  height: 100%;
  border: 0px solid white;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer-section.left {
  flex: 0 0 auto;
  padding: 0 1.5rem;
}

.footer-section.middle {
  flex: 1 1 auto;
}

.footer-section.right {
  flex: 0 0 auto;
  padding: 0 1.5rem;
  display: flex;
  gap: 1rem;
}

.datetime {
  white-space: nowrap;
  display: flex;
  gap: 1rem;
}

.datetime span {
  font-size: 0.85rem;
  font-weight: 500;
  background-color: color-mix(in srgb, var(--background-common) 90%, white);
  padding: 0.3rem 0.6rem;
  border-radius: 20px;
}

.copyright {
  font-size: 0.85rem;
  font-weight: 500;
}

/* Versión móvil */
@media (max-width: 768px) {
  .datetime span {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }
}
