:root {
  --background-common: rgb(40, 40, 40);
  --background-main: color-mix(in srgb, var(--background-common) 60%, white);
  --background-hover: color-mix(in srgb, var(--background-common) 80%, white);
  --background-input: color-mix(in srgb, var(--background-common) 90%, white);
  --background-input-hover: color-mix(in srgb, var(--background-common) 100%, white);
  --text-color: antiquewhite;
  --font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  --aside-width: 250px;
  --aside-collapsed-width: 80px;
  --transition-speed: 0.3s;
  --navbar-height: 60px;
  --footer-height: 60px;
  --background-secondary: rgb(40, 40, 40);
  --border-color: #444;
}

/* Estilos base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: var(--text-color);
  font-family: var(--font-family);
}

.app {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--background-common);
}

/* Contenedores principales */
.aside {
  position: relative;
  width: var(--aside-width);
  height: calc(100vh - 120px);
  background-color: var(--background-common);
  border: 0px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  transition: width var(--transition-speed) ease;
}

.aside.collapsed {
  width: var(--aside-collapsed-width);
}

.aside.collapsed + .main {
  width: calc(100vw - var(--aside-collapsed-width));
}

/* Card styles */
.card {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-color);
  border-radius: 25px;
  padding: 2rem;
  margin: 2rem 1rem;
  color: var(--text-color);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 550px;
  overflow-y: auto;
}

.card h2 {
  font-size: 0.9rem;
  margin: 0;
  color: var(--text-color);
}