:root{
  
}
html{
  width: 100%;
  height: 100%;
  background-color: rgb(35, 35, 35);
  font-family: 'Roboto', sans-serif;
  color: antiquewhite;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: start;
}
